svg#freepik_stories-404-error-with-a-cute-animal:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-404-error-with-a-cute-animal.animated
  #freepik--background-simple--inject-290 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) fadeIn;
  animation-delay: 0s;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated
  #freepik--yarn-ball--inject-290 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideDown;
  animation-delay: 0s;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated
  #freepik--Plants--inject-290 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideRight;
  animation-delay: 0s;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elvni9feexo5 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elys51woztxhr {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.02631578947368421s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elbulg7vm730o {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.05263157894736842s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elblfxkqu1bm {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.07894736842105263s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el5iohfx3rhxu {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.10526315789473684s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elgxjrel7vkb7 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.13157894736842105s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elnsqgb0oc1fn {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.15789473684210525s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elt8dobfjxaj {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.18421052631578946s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el79t2yigmm2k {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.21052631578947367s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el6lj7ko9hs4y {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.23684210526315788s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el4ryo0doh0t5 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.2631578947368421s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elwronk3y68op {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.2894736842105263s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el2fcjuloxx64 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.3157894736842105s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elp7u92or1h9r {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.3421052631578947s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #eloxd84eq7tk {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.3684210526315789s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elrhx153tfm3 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.39473684210526316s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #eluifjcaqb8k {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.42105263157894735s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #eldio9ojjmhj7 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.4473684210526315s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #eltj4oovkmxll {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.47368421052631576s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated
  #freepik--Text--inject-290 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp,
    6s Infinite linear floating;
  animation-delay: 0s, 0.5s;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #ellefj6zyteqh {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0s;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el3zvx6v59r3j {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.008620689655172414s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elzosuph1dlja {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.017241379310344827s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el1g359rnw3qv {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.02586206896551724s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elmxo06010jwg {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.034482758620689655s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el95043g6o3me {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.04310344827586207s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elh52c3noq7da {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.05172413793103448s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #eli23d7dr0fuo {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.06034482758620689s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elbw2ogozh9js {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.06896551724137931s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elgls0be2jvlm {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.07758620689655173s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el245icmguejj {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.08620689655172414s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elsarbnhw7hy {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.09482758620689655s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elhnxm7ud4f38 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.10344827586206896s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #eljxf8x86k0vd {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.11206896551724138s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el2w9olapfrwp {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.12068965517241378s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elwljy472loyc {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.12931034482758622s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el90bttj7yabq {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.13793103448275862s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el6lxhanz99pu {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.14655172413793102s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #eld62ymazb1dd {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.15517241379310345s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elhft0fw180f {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.16379310344827586s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elbjyi1izeht {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.1724137931034483s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elpgkiap2s1qp {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.1810344827586207s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el2k1sqrjcwuv {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.1896551724137931s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el3fscw5z213s {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.19827586206896552s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el2z0s9esrmul {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.20689655172413793s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #ele71115dcxiq {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.21551724137931033s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el9i9hwza8yj {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.22413793103448276s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elt80eqiouhol {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.23275862068965517s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elz70c462a8x {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.24137931034482757s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elp4lve9gv0ds {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.25s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elfsuxrfs6yhv {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.25862068965517243s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elnoaypym7jee {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.2672413793103448s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elrtk51oe33hg {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.27586206896551724s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el6updis3h69g {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.28448275862068967s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el99oxpizrzya {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.29310344827586204s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elkhwf6oovux9 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.3017241379310345s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el4bohx9truys {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.3103448275862069s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elv6l4zcx5y2m {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.3189655172413793s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elq61rpqgzmy {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.3275862068965517s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #eltt96eapdfea {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.33620689655172414s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elhvtbyizw5zu {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.3448275862068966s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el7c11nva9wcm {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.35344827586206895s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elq506a753ut {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.3620689655172414s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elgp9dvj8i2fi {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.3706896551724138s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #eldtrablx2dqf {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.3793103448275862s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el685ziiya8tc {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.3879310344827586s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elr5obt3f64m {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.39655172413793105s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elj8mppu2xxrk {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.4051724137931034s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elkebhy0jp4x {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.41379310344827586s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elsxi35qvgmm {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.4224137931034483s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #eldwpa50o7vu9 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.43103448275862066s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elp63i3ac00t {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.4396551724137931s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #eleksjnc5d52t {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.4482758620689655s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elsibz8t2otq {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.4568965517241379s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #elq2laky1kmt {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.46551724137931033s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #els1r64m9xsv {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.47413793103448276s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el4cor3z1tj9p {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.48275862068965514s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated #el553jk7icsts {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp;
  animation-delay: 0.49137931034482757s;
  opacity: 0;
}
svg#freepik_stories-404-error-with-a-cute-animal.animated
  #freepik--Character--inject-290 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideUp,
    6s Infinite linear floating;
  animation-delay: 0s, 0.5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: inherit;
  }
}
@keyframes floating {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
