.inactiveItem {
  &::after {
    padding: 0 0.5rem;
    content: '>';
  }

  a:hover {
    opacity: 0.8;
  }
}

.activeItem {
  a {
    cursor: default;
  }
}
.ul {
  flex-wrap: wrap;
  li {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
