svg#freepik_stories-computer-login:not(.animated) .animable {
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elqrg6rhwkao9 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.5s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #eljxpps76gyq9 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.0125s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elx2av2exddcd {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.025s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #eletqtehgf6xr {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.037500000000000006s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elk86ktdl4bpo {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.05s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elq4qpl0l6l2l {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.0625s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #ely7tujxpmuc {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.07500000000000001s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elpj4blbptp8k {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.08750000000000001s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elua8mzdfrl1e {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.1s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #el93uaubf6g9 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.1125s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #eln76tgkf0erc {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.125s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elb7krnjbqtu6 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.1375s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elifoesr0o8me {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.15000000000000002s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elpvbsn7778s {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.1625s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elnuzkbviqul {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.17500000000000002s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #el9oumlgbt7tl {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.1875s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #el07dq69hns91 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.2s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elp8q7b01rhr9 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.21250000000000002s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elaax56jqxx3 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.225s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #ell3iqhwuv94h {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.23750000000000002s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elvp5aampdsn {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.25s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elef1p4bh45g {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.2625s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #ell3j2n1th9tf {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.275s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elghts49tdiwk {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.28750000000000003s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elbzg87fh9q4 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.30000000000000004s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elogt70m0bcq {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.3125s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #el9ifwpbns13 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.325s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elh2t2llaoluj {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.3375s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elstt1dtb746 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.35000000000000003s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #el1zmruqt11pa {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.36250000000000004s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elj1hqux955y9 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.375s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #eli6to6j6tyen {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.3875s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #el6x68v7lx1nf {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.4s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elfipxkou6jlj {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.41250000000000003s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #eldbu2y60pfg {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.42500000000000004s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #eltau1gge7i2b {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.4375s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #el9abxgm4t8o {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.45s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elk1ehpspyd2f {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.4625s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #elvws7n9eea8 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.47500000000000003s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #eli03jxg4aoq {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.48750000000000004s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #freepik--Screen--inject-48 {
  animation: 0.5s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
  animation-delay: 0.5s;
  opacity: 0;
}
svg#freepik_stories-computer-login.animated #freepik--Plant--inject-48 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedRight;
  animation-delay: 0s;
}
svg#freepik_stories-computer-login.animated #freepik--Table--inject-48 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedRight;
  animation-delay: 0s;
}
svg#freepik_stories-computer-login.animated #freepik--Device--inject-48 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedRight;
  animation-delay: 0s;
}
svg#freepik_stories-computer-login.animated #freepik--Character--inject-48 {
  animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) lightSpeedLeft;
  animation-delay: 0s;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes lightSpeedRight {
  from {
    transform: translate3d(50%, 0, 0) skewX(-20deg);
    opacity: 0;
  }
  60% {
    transform: skewX(10deg);
    opacity: 1;
  }
  80% {
    transform: skewX(-2deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes lightSpeedLeft {
  from {
    transform: translate3d(-50%, 0, 0) skewX(20deg);
    opacity: 0;
  }
  60% {
    transform: skewX(-10deg);
    opacity: 1;
  }
  80% {
    transform: skewX(2deg);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
